.coverflow-container{
  width: 568px;
  height: 320px;
  background-image: linear-gradient(to top, rgb(46,46,46) 5%, rgb(0,0,0) 53%);
  perspective: 900px;
  overflow: hidden;
}

.coverflow-cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, .3);
  color: white;
  text-align: center;
  line-height: 200px;
	-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(rgba(255, 255, 255, 0.5)));
}
